@use "../../variables.scss";

.list {
  text-align: center;
  width: 100px;
  display: flex;
  flex-direction: column;
  gap: 15px;

  @media (min-width: variables.$tablet-desktop-width) {
    width: 400px;
  }
}

.list_wrapper {
  display: flex;
  justify-content: space-around;
}

.list_title {
  text-align: center;
}

.add_button {
  font-size: 10px;
  width: 60px;
  padding: 8px;
  margin: 10px 20px;
  border: none;
  background-color: var(--grey);
  cursor: pointer;

  &:hover {
    background-color: var(--lightOrange);
  }

  @media (min-width: variables.$tablet-desktop-width) {
    font-size: 15px;
    width: 100px;
    padding: 10px;
    margin: 20px 40px;
  }
}

.card {
  text-align: start;
  cursor: pointer;
  background-color: var(--grey);
  border: 2px solid var(--grey);
  font-size: 10px;
  width: 80px;

  &:hover {
    border: 2px solid var(--lightOrange);
  }

  @media (min-width: variables.$tablet-desktop-width) {
    width: 300px;
    font-size: 15px;
  }
}

.find_input {
  height: 30px;
  border: 2px solid var(--orange);
}
