.project {
  color: var(--black);

  &:hover {
    text-decoration: underline var(--orange);
  }
}

.wrapper {
  text-align: center;
}

.projects_list {
  display: flex;
  justify-content: center;
  gap: 20px;
}
