.task_container {
  background-color: #CFE4FB;
  width: 200px;
}

.list {
  text-align: center;
}

.list_wrapper {
  display: flex;
  justify-content: space-around;
}

.task_container {
  width: 300px;
  text-align: start;
}
