.list {
  text-align: center;
  width: 400px;
}

.list_wrapper {
  display: flex;
  justify-content: space-around;
}

.list_title {
  text-align: center;
}

.add_button {
  font-size: 15px;
  width: 100px;
  padding: 10px;
  margin: 20px 40px;
  border: none;
  background-color: var(--grey);
  cursor: pointer;

  &:hover {
    background-color: var(--lightOrange);
  }
}

.card {
  text-align: start;
  cursor: pointer;
  background-color: var(--grey);
  border: 2px solid var(--grey);
  font-size: 15px;

  &:hover {
    border: 2px solid var(--lightOrange);
  }
}